.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.container > .content-wrap {
  float: left;
  width: 100%;
}

.container > .content-wrap > .content {
  position: relative;
  min-height: 500px;
  margin-bottom: 15px;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: auto;
  }
}

@media (max-width: 640px) {
  .container > .content-wrap > .content {
    min-height: 200px;
  }

  .container {
    padding: 0 0;
  }
}
